<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="engine" class="com.daniyal.springcore.Engine" >
<constructor-arg value="Petrol" />
</bean>
<bean id="tyre" class="com.daniyal.springcore.Tyre" autowire="byName" />
<bean id="glass" class="com.daniyal.springcore.Glass" autowire="byName" />
<bean id="car" class="com.daniyal.springcore.Car" autowire="constructor"/>
</beans>